<h1>You've reached David Verhoeven Solutions!</h1>
<p>Here's to another year of:</p>
<audio controls id="david-le-dinosaur">
  <source src="assets/David le dernier dinosaur.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div class="david-verhoeven-carousel">
  <div *ngFor="let slide of slides">
    <div class="mySlides fade" *ngIf="slide.isVisible" style="display:block;">
      <figure>
        <img [src]="slide.href" width="80%" height="50%" /><figcaption>{{slide.title}}</figcaption>
      </figure>
    </div>
  </div>

  <!--<button (click)="plusSlides(-1)">&#10094;</button>
  <button (click)="plusSlides(1)">&#10095;</button>-->
</div>

<div style="text-align:center">
  <span *ngFor="let slide of slides; index as i" class="dot" (click)="currentSlide(i)">
    <i *ngIf="i == slideIndex">&nbsp;</i>
  </span>
</div>

<em>Happy birthday,</em>
<p>- Dave</p>
