<h1>Happy (late) birthday, Deba-san!</h1>
<p>Welcome to a wonderful year of:</p>
<ul>
<li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
<li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
<li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
<li><strong>Website</strong>. This <em>wonderful</em> website to glance at.</li>
<li><strong>Coached</strong>. In development mode, when Legau's <code>information</code> was not properly mapped.</li>
<li><strong>Seanced</strong>. In local IIS, when your environment was struggling due to <em>a distinct lack of RAM</em>.</li>
</ul>
<img src="https://i.pinimg.com/originals/c0/55/90/c05590420c222e26d1de4a8c84f5487d.gif" />
<p>This coming year will be a year of unseen <strong>exploration</strong>, <strong>growth</strong> &Aacute; <strong>happiness</strong> as your fortune cards drawing unveiled.</p>
<p>May all your wishes come true this year!</p>
<p>Feel free to share some with the rest of us!</p>
<p>I'll be seeing you around</p>
<p><em>Dave</em></p>